__pycache__
.ipynb_checkpoints/
.vscode/.ropeproject/
*~
base.css
charsdb.mat
data/chars-*experiment*
data/charsdb.pth
data/imagenet-vgg-verydeep-16.mat
data/matconvnet*
data/charscnn*
data/practical-cnn-*
data/sentence-lato.png
doc/prism.css
doc/prism.js
extra/fonts*
extra/googlefontdirectory
vlfeat/
alexnet.pth
