*~
base.css
charsdb.mat
data/chars-*experiment*
data/matconvnet*
data/practical-cnn-*
data/vlfeat*
doc/prism.css
doc/prism.js
extra/fonts*
googlefontdirectory
imagenet-vgg-verydeep-16.mat
sentence-lato.png
vlfeat/
